@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Poppins", sans-serif;
  background-color: #1a202c; 
  color: #cbd5e0; 
}

.bg-gray-900 {
  background-color: #1a202c;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}


